@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Righteous&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


.card{
    width: 400PX;
    height: 400PX;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    border-radius: 14PX;
 border: 2PX solid rgba(255, 255, 255, 0.616);
    backdrop-filter: blur(8px);
}
body{
    background: url(img/vibrant-landscape-6480x4189-17436.jpg) no-repeat;
    background-size: cover;
    height: 100VH;
    overflow-y: hidden;
}
h1{
    text-align: center;
    font-family: "Righteous", sans-serif;
  font-weight: 400;
font-size: 35PX;
  color: white;
}
.input{
    color: rgb(255, 255, 255);
    background-color: rgba(255, 228, 196, 0);
    position: relative;
    left: 3%;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 40PX;
    width: 350px;
    height: 40PX;
    margin: 2%;
}
.input:hover{
    border: 1PX SOLID rgb(245, 242, 242);
    transition: 0.2s;
}
.card input::placeholder {
color: rgb(255, 255, 255);
position: relative;
left: 5%;
}
.card i {
    color: rgb(255, 255, 255);
    position: relative;
    right: 8%;
}
.checkbox{
    position: relative;
    top: 1%;
    left: 5%;
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    color: white;
}
h3{
    position: relative;
    top: -7%;
    left: 62%;
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 15PX;
    color: white; 
}
button{
    color: rgb(0, 0, 0);
    font-family: "Rubik", sans-serif;
    font-weight: 600;
    background-color: rgb(255, 255, 255);
    position: relative;
    bottom: 8%;
    left: 3.5%;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 40PX;
    width: 350px;
    height: 40PX;
    margin: 2%;
}
button:hover{
    background-color: rgb(0, 0, 0);
    border: black;
    color: #ffffff;
    transition: 0.5s;
}
h2{
    font-family: "Rubik", sans-serif;
    font-weight: 300;
    color: white;
    font-size: 15PX;
    text-align: center;
    position: relative;
    bottom: 8%;
}
h2 span {
    font-weight: 500;
}